body {
	background: #f9f9f9;
	font-family: Arial,sans-serif;
}

a {
	color: #888;
	text-decoration: none;
}
a:hover
{ 
	border-bottom: 1px dotted;
}


#container{
	width : 1040px;
	height : 650px;
	background: #f0f0f0;
	border-color: #f0f0f0;
	border-style:solid;
	border-width:thin;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin: 0px auto;
}

#header{
	height : 50px;
	background: #58789d;
	width: 1042px;
	margin: 0px auto;
	-moz-border-radius: 2px 2px 0px 0px;
	border-radius: 2px 2px 0px 0px;
}

#navbar{
	height: 20px;
	background: #58789d;
	width: 1042px;
	margin: 0 auto;
	font-size: 16px;
	text-align: center;
	color: white;
}

#navbar a{
	color: white;
	text-decoration: none;
	font-size: 12px;
	text-align: center;
	margin: 0px 8px;
	text-shadow: rgba(0, 0, 0, 0.498039) 0px 1px 1px;
}

#page_title{
	color: white;
	text-align: center;
	vertical-align: middle;
	margin: 0px auto;
	text-shadow: rgba(0, 0, 0, 0.498039) 0px 1px 1px;
}

#footer{
	-moz-border-radius: 0px 0px 2px 2px;
	border-radius: 0px 0px 2px 2px;
	background: rgb(88, 120, 157);
	color: rgb(204, 204, 204);
	width: 1042px;
	padding: 5px 0px;
	margin: 0px auto;
	font-size: 12px;
	text-align: center;
	vertical-align: middle;
}

#footer a{
	color: #aaa;
}
	
.right{
	float:right;
}

.left{
	float:left;
}
	
.sectionHeader {
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-bottom: 2px solid #5A7EAA;
    background: #6c91bf;
    padding: 6px 0px 4px 9px;
    color: white;
    margin: 0 0 2% 0;
    font-size: 16px;
    text-align:center;
    text-shadow: rgba(0, 0, 0, 0.498039) 0px 1px 1px;
}

.section {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: white;
}