#leftCol{
	width: 61%;
	height: 80%;
	margin: 2%;
}

#rightCol{
	width: 31%;
	height: 85%;
	margin: 2% 2% 0 2%;
}

#homepageImage{
	width: 100%;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#welcomeMessage{
	text-align: center;
	margin: 2% 0 0 0;
}


#featuredQuakes{
    height: 78%;
    width: 100%;
    margin-bottom: 5%;
}

#versionHistory{
    height: 20%;
    width: 100%;
}

.rightColSec{
    border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
    background: white;
}

#versionHeader{
    font-size: 14;
    padding: 5px;
}

#startButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
	box-shadow:inset 0px 1px 0px 0px #f29c93;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100) );
	background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
	background-color:#fe1a00;
	-webkit-border-top-left-radius:16px;
	-moz-border-radius-topleft:16px;
	border-top-left-radius:16px;
	-webkit-border-top-right-radius:16px;
	-moz-border-radius-topright:16px;
	border-top-right-radius:16px;
	-webkit-border-bottom-right-radius:16px;
	-moz-border-radius-bottomright:16px;
	border-bottom-right-radius:16px;
	-webkit-border-bottom-left-radius:16px;
	-moz-border-radius-bottomleft:16px;
	border-bottom-left-radius:16px;
	border:1px solid #d83526;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:24px;
	font-weight:bold;
	font-style:normal;
	height:49px;
	width:275px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #b23e35;
	margin: 0% 29%;;
}
#startButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00) );
	background:-moz-linear-gradient( center top, #ce0100 5%, #fe1a00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00');
	background-color:#ce0100;
}#startButton:active {
	position:relative;
	top:1px;
}

.featuredQuake{
	margin: 5px;
}